<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather API</title>
</head>
<body>

{{weather}}


<table border="1">
    <tr>
        <th>Temperature</th>
        <th>Feels like</th>
        <th>Min temp</th>
        <th>Max temp</th>
        <th>Pressure</th>
        <th>Sea level</th>
    </tr>
    <tr>
        <td>{{weather.temp}}</td>
        <td>274.6</td>
        <td>277.5</td>
        <td>278.8</td>
        <td>1026</td>
        <td>1026</td>
    </tr>
</table>

</body>
</html>